[flake8]
exclude = migrations,__pycache__,docs,.git,.mypy_cache,.venv,.tox, venv
per-file-ignores = __init__.py:F401
max-complexity= 7
max-line-length = 112
select = C,E,F,W
ignore = W291, E203, E501, W503